# IDE
.vscode/
.idea/
*.swp
*.swo
*.png

# Directories
/build
/java-playwright/allure-results
/allure-results
/target

# OS
.DS_Store
Thumbs.db

# Docker
.docker/

# Temporary files
tmp/
temp/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Database
*.db
*.sqlite

# Logs
logs
*.log

# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/java-cucumber/.gradle
